.imagestyle {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.btnstyle {
    position: absolute;
    background: '/Users/beanee/Desktop/newbie/newbie-app/src/Newbie_button.png';
    width: 50vh;
    height: 5vw;
    bottom: 30vh;
    left: 73vh;
}

.imgtext {
    position: absolute;
    text-align: center;
    width: 30vw;
    bottom: 30vw;
}

.container {
    display: grid;
    background: white;
    border-radius: 20px;
}

.questionText {
    position: absolute;
    bottom: 20vh;
    left: 80vh;
}

.answeroptionsli {
    marginBottom: 10px;
    width: 300px;
}